.messages {
  flex: 1;
  background-image: url(https://user-images.githubusercontent.com/15075759/28719144-86dc0f70-73b1-11e7-911d-60d70fcded21.png);
  overflow-y: auto;
  padding-bottom: 1rem;
  max-height: 93%;
}