.toolbar {
  background: #333333;
  color: white;
  padding: 1rem;
  width: 100%;
  flex: 1 1 auto;
  position: relative;
  display: flex;
  align-items: center;

  .link-wrapper {
    text-decoration: none;
    color: white;

    transition: color .2s ease-in-out;

    &:hover {
      color: #d8b5ff;
    }
  }

  .logo {
    display: flex;
    cursor: pointer;
    font-family: 'proxima-nova', sans-serif;
    font-weight: 700;
    align-items: center;
  }

  .links {
    display: flex;
    column-gap: 1rem;
  }
}